.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  outline: none;
  background: transparent;
  padding: 15px;
  border-width: 1px;
  border-radius: 4px;
  border-color: red;
  color: red;
  margin: 0px 2px;
}
button:hover {
  box-shadow: 3px 4px 10px;
}

p {
  color: black;
}

form {
  margin-bottom: 10px;
}

input {
  padding: 15px;
  border-radius: 4px;
  outline: none;
  border-width: 1px;
}
li {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li:nth-of-type(even) {
  background-color: rgb(211, 191, 191);
}
